/build/
/screenshots/
/assets/dev/
/H700/sysroot/
/H700/sysroot_*/
/research/steam-ui-reference/
/research/external/
/.home/
/.tmp/
/H700/dist_app/
/H700/Downloads/*
!/H700/Downloads/README.md
!/H700/Downloads/PegasusG by ROC ver* for H700.zip
/.vs/
/.idea/
